.main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.nilai-container{
  width: 40%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th{
  width: 100px;
}

td {
  text-align: left;
  padding: 8px;
}

p{
  text-align: center;
}

tr{
  border: 2px solid #ddd;
  transition: all 0.12s ease-in-out;
}

tr:hover {background-color: #ddd;}

select{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  transition: all 0.12s ease-in-out;
  outline-color: #cecece;
  cursor: pointer;
}

select:hover{
  border: 2px solid #aaa;
}

.button-cont{
  display: flex;
  justify-content: flex-end;
}

button{
  padding: 8px 20px;
  margin-top: 20px;
  background-color: #1a1a1a;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 14px;
}

.icon-user{
  font-size: 20px;
  align-self: center;
  color: #aaa;
  margin: 0px 10px;
}

span{
  display: flex;
}